<h1>Bienvenidos a mi chat re copado</h1>

    <div id="chat">
<div>
    <input type="text" id="chatBox">
</div>

<div>
    <p id="messagesLogs"></p>
</div>
        <button id="sendMessage">Enviar</button>
    </div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/index.js"></script>


    <script>
const socket = io(); // Conexión al servidor WebSocket

// Referencias a elementos del DOM
const chatBox = document.getElementById('chatBox');
const sendMessageButton = document.getElementById('sendMessage');
const messagesLogs = document.getElementById('messagesLogs');

// Manejo del evento de envío de mensajes
sendMessageButton.addEventListener('click', () => {
    const message = chatBox.value;
    if (message) {
        // Emitir el mensaje al servidor con el usuario y el mensaje
        socket.emit('message', { usuario: 'usuario', message: message });
        chatBox.value = ''; // Limpiar el campo de entrada
    }
});

// Manejo de los mensajes recibidos
socket.on('messagesLogs', (messages) => {
    messagesLogs.innerHTML = ''; // Limpiar mensajes anteriores
    messages.forEach((msg) => {
        messagesLogs.innerHTML += `${msg.usuario}: ${msg.message}<br>`;
    });
});
    </script>